{
  "m.homeserver": {
    "base_url": "https://${NEO_MATRIX_HOST}"
  },
  "org.matrix.msc2965.authentication": {
    "issuer": "https://${NEO_AUTH_HOST}/",
    "account": "https://${NEO_AUTH_HOST}/account"
  },
  "cc.etke.ketesa": {
    "externalAuthProvider": true
  }
}
